<ion-content>
  <div class="centerContent">
    <div class="loginBar">
    <div class="small_logo">
    <img class="logo" src="../../assets/logo_small.svg" /><h2>{{language.agrolly}}</h2>
    </div>
    <input type="password" placeholder="Enter Current Password" class="crediantials input-block" [(ngModel)]="curPassword" required/>
    <input type="password" placeholder="Enter New Password" class="crediantials input-block" [(ngModel)]="newPassword" required/>
    <ion-button class="crediantials" (click)="changepassword()">Change Password<ion-icon name="key"></ion-icon></ion-button>
    </div>
  </div>
</ion-content>
