<ion-content>
  <div class="centerContent">
    <div class="loginBar">
    <div class="small_logo">
    <img class="logo" src="../../assets/logo_small.svg" /><h2>{{language.agrolly}}</h2>
    </div>
    <input type="password" [attr.placeholder]="language.cur_pass" class="crediantials input-block" [(ngModel)]="curPassword" required/>
    <input type="password" [attr.placeholder]="language.new_password" class="crediantials input-block" [(ngModel)]="newPassword" required/>
    <ion-button class="crediantials" (click)="changepassword()">{{language.Change_Password}}<ion-icon name="key"></ion-icon></ion-button>
    </div>
  </div>
</ion-content>
