ion-icon {
    font-size: 48px;
}

ion-button {
    width: 100%;
}

.date {
    font-weight: bold;
    color: gray;
}

.data {
    font-size: 15px;
    color: grey;
    padding: 5px;
}

.stars {
    margin-top: 5px;
}