<ion-header>
  <ion-toolbar>
    <ion-title>{{language.Organizer}}</ion-title>
  </ion-toolbar>
  <div>
    <ion-tab-bar slot="bottom">
        List's are stored on device, clearing app data will clear the list.
    </ion-tab-bar>
  </div>
</ion-header>

<ion-content>
  <ion-list>
    <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
    <ion-item *ngFor="let item of todoList; let i = index;">
      <div style="text-align: justify; margin: 5px;">{{todoList[i]}}</div>
      <ion-button (click)='deleteItem(i)' slot='end' color="danger"><ion-icon name='trash'></ion-icon></ion-button>
      <ion-reorder slot="end"></ion-reorder>
    </ion-item>
  </ion-reorder-group>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col size="8">
        <ion-textarea rows="1" placeholder="{{language.add_to_list}}" [(ngModel)]='todo'></ion-textarea>
      </ion-col>
      <ion-col size="3">
        <ion-button color="success" (click)='addToList()'>{{language.save_button}} <ion-icon name="save"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>