<ion-header>
  <ion-toolbar>
    <ion-title>{{language.comments_ans}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()"><ion-icon name="close"></ion-icon></ion-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content [attr.pullingText]="language.pull_refresh" refreshingSpinner="lines" [attr.refreshingText]="language.loading"></ion-refresher-content>
  </ion-refresher>

  <ion-card color="light" *ngFor="let item of completeQues;let i = index">
    <ion-card-header>
      <ion-textarea style="color: #0000EE;font-size: 1.17em;font-weight: bold;" disabled>{{item.question}}</ion-textarea>
      <ion-toolbar *ngIf="showEditor">
        <ion-textarea [attr.placeholder]="item.question" [(ngModel)]="updatedQues"></ion-textarea>
        <ion-buttons slot="end">
          <ion-button (click)="edit_ques()"><ion-icon name="close" size="large"></ion-icon></ion-button>
          <ion-button (click)="update_ques()"><ion-icon name="send" size="large"></ion-icon></ion-button>
        </ion-buttons>
      </ion-toolbar>  
    </ion-card-header>
    <ion-card-content>
      <ion-img *ngIf="item.image != 'NaI'" [src]="item.image" (click)="showImage(item.image)" ></ion-img>
      <br />
      <h6>{{language.name}}: {{item.name}}</h6>
      <h6>{{language.location}}: {{item.state}}, {{item.country}}</h6>
      <h6>{{language.date}}: {{item.date}}</h6>
      <ion-toolbar *ngIf="checkLogin && item.user_id == uid"> 
        <ion-buttons slot="end">
          <ion-button (click)="edit_ques()"><ion-icon src="../../assets/icon/pencil.svg" size="large"></ion-icon></ion-button>
          <ion-button (click)="delete_ques(Qid)"><ion-icon name="trash" size="large"></ion-icon></ion-button>
        </ion-buttons> 
      </ion-toolbar>
    </ion-card-content>
  </ion-card>
  <ion-list *ngFor="let item of commentLists | slice:0:commentLists.length-1;let i = index">
    <ion-item>
      <div>
        <div>{{item.text}}
         <br />
          <div class="commentImage" *ngIf="commentLists[i].image != 'NaI'"><img class="thumbnail" [attr.src]="commentLists[i].image" (click)="showImage(commentLists[i].image)" /></div>
        </div>
        <p class="stamp">
          {{item.name}}<br />
          {{item.date}}
        </p>
      </div>
      <ion-icon name="trash" *ngIf="checkLogin && item.user_id == uid" (click)="delete_comment(item.cid)" size="small" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer *ngIf="checkLogin">
  
  <div class="previewImage" *ngIf="clickedImage !== undefined">
  <ion-grid>
  <ion-row>
  
  <ion-col size="10">
  <img [src]="clickedImage" class="preview" />
  </ion-col>

  <ion-col size="2" class="closeBtn">
  <ion-icon name="close" (click)="removeImage()" size="large"></ion-icon>
  </ion-col>

  </ion-row>
  </ion-grid>
  </div>

  <ion-grid>
  <ion-row>
  <ion-col size="9" class="send">
    <textarea [(ngModel)]="answer" [attr.placeholder]="language.comment"></textarea>
  </ion-col>

  <ion-col class="send">
    <ion-icon name="camera" size="large" (click)="captureImage()"></ion-icon>
  </ion-col>

  <ion-col class="send">
    <ion-icon name="send" size="large" (click)="postAnswer()"></ion-icon>
  </ion-col>

  </ion-row>
  </ion-grid>
</ion-footer>

