<ion-header>
  <ion-toolbar>
    <ion-title>Comments & Answers</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()"><ion-icon name="close"></ion-icon></ion-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content pullingText="Pull to refresh" refreshingSpinner="lines" refreshingText="Loading"></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let item of completeQues">
    <ion-card-header>
      <span class="ion-text-justify" style="color: #0000EE;">{{item.question}}</span>
    </ion-card-header>

    <ion-card-content>
      <br />
      <h6>Posted By: {{item.name}}</h6>
      <h6>Posted: {{item.date}}</h6>
    </ion-card-content>

  </ion-card>
  <ion-list *ngFor="let item of commentLists | slice:0:commentLists.length-1">
    <ion-item>
      <ion-label>{{item.text}}
      <br />
      <h3>{{item.name}}</h3>
      <h3>{{item.date}}</h3>
    </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer *ngIf="checkLogin">
  
  <div class="previewImage" *ngIf="clickedImage !== undefined">
  <ion-grid>
  <ion-row>
  
  <ion-col size="10" class="closeBtn">
  <img [src]="clickedImage" class="preview" />
  </ion-col>

  <ion-col size="2">
  <ion-icon name="close" (click)="removeImage()" size="large"></ion-icon>
  </ion-col>

  </ion-row>
  </ion-grid>
  </div>


  <ion-grid>
  <ion-row>
  <ion-col size="9" class="send">
    <textarea [(ngModel)]="answer" placeholder="Comment"></textarea>
  </ion-col>

  <ion-col class="send">
    <ion-icon name="camera" size="large" (click)="captureImage()"></ion-icon>
  </ion-col>

  <ion-col class="send">
    <ion-icon name="send" size="large" (click)="postAnswer()"></ion-icon>
  </ion-col>

  </ion-row>
  </ion-grid>
</ion-footer>