.narration {
    font-size: small;
    color: white;
}

.narration, p {
    margin: 1px;
}

ion-icon {
    font-size: 48px;
}

.info {
    margin: 1px;
    color: gray;
    font-size: 14px;
}

.padding {
    padding-top: 15px;
}

h3, h6 {
    margin: 0;
}