h5 {
    color: gray;
}

.card-gradient {
    width: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(175deg, rgba(255,255,255,1) 67%, rgba(131,255,224,1) 100%);
}

textarea {
    color: blue;
    font-weight: bolder;
    overflow: hidden;
    resize: none;
    width: 100%;
    overflow-y: hidden !important;
    border: none;
    background: none;
}