<ion-header no-border>
  <ion-toolbar>
    <ion-buttons *ngIf="showLogout" slot="end">
      <ion-tab-button (click)="openMenu()">
        <ion-icon size="large" [attr.name]="menuIcon"></ion-icon>
      </ion-tab-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="mainContent"> 
<div class="centerAll">
   <div class="bannerImage" >
    <img src='../../assets/logo_small.svg' />
    <h2>{{language.agrolly}}</h2>
   </div>
   <div class="mainButtons">
   <ion-grid>
     <ion-row>
       <ion-button class="examType" [routerLink]="['/tabs/forum']" routerLinkActive="router-link-active" color="success">
         {{language.forum}}  <ion-icon name="people"></ion-icon>
       </ion-button>
     </ion-row>
     <ion-row>
       <ion-button [routerLink]="['/tabs/frm1']" routerLinkActive="router-link-active" class="examType" color="success" disabled>
        {{language.weather}}  <ion-icon name="partly-sunny"></ion-icon>
       </ion-button>
     </ion-row>
     <ion-row>
       <ion-button [routerLink]="['/tabs/frm2']" class="examType" color="success"  disabled>
        {{language.crop_management}}  <ion-icon name="nutrition"></ion-icon>
       </ion-button>
     </ion-row>
     
     <ion-row *ngIf="showLogout">
      <ion-button (click)="logout()" class="examType" color="warning">
        {{language.logout}}  <ion-icon name="walk"></ion-icon>
      </ion-button>
    </ion-row>
   </ion-grid>
   </div>  
</div>
</ion-content>


<ion-menu side="start" (ionDidClose)="closeMenu()" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title>Options</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="has-header">
  <ion-list>
      <ion-item button><ion-label>Profile</ion-label><ion-icon slot="end" name="person"></ion-icon></ion-item>
      <ion-item (click)="changepasswordpage()" button><ion-label>Change Password</ion-label><ion-icon slot="end" name="key"></ion-icon></ion-item>
      <ion-item (click)="logout()" button><ion-label>Logout</ion-label><ion-icon slot="end" name="walk"></ion-icon></ion-item>
  </ion-list>
</ion-content>
<ion-router-outlet id="main"></ion-router-outlet>
</ion-menu>

<div>
  <ion-tab-bar slot="bottom" class="languageBar">
      <ion-tab-button (click)="english()">
        English
      </ion-tab-button>
      <ion-tab-button (click)="mongolian()">
        Монгол
      </ion-tab-button>
      <ion-tab-button (click)="portuguese()">
        Português
      </ion-tab-button>
    </ion-tab-bar>
</div>