<ion-content>
  <div class="centerContent">
    <div class="loginBar">
      <div class="small_logo">
        <img class="logo" src="../../assets/logo_small.svg" /><h2>{{language.agrolly}}</h2>
        </div>
        <input type="text" [attr.placeholder]="language.full_name" class="crediantials input-block" [(ngModel)]="name" required/>
        <input type="email" [attr.placeholder]="language.email_address" class="crediantials input-block" [(ngModel)]="email" required/>
        <input type="password" [attr.placeholder]="language.password" class="crediantials input-block" [(ngModel)]="password" required/>
        
          <div class="countrySelect crediantials input-block">
            <ion-icon [attr.src]="countrySelectedIcon" size="large"></ion-icon>
            <ion-select class="crediantials" [attr.placeholder]="language.country" interface="action-sheet" [(ngModel)]="countrySelected" (ionChange)="showCountryIcon()" required>
              <ion-select-option *ngFor="let c of countries" class="fold-lines" [value]="c.name">{{c.name}}</ion-select-option>
            </ion-select>
          </div>

          <div class="countrySelect crediantials input-block"  *ngIf="showStates">
            <ion-icon [attr.src]="countrySelectedIcon" size="large"></ion-icon>
            <ion-select class="crediantials" [attr.placeholder]="language.state" interface="action-sheet" [(ngModel)]="stateSelected" *ngIf="showStates" (ionChange)="showCity()" required>
              <ion-select-option *ngFor="let s of states" class="fold-lines" [value]="s">{{s}}</ion-select-option>
            </ion-select>
          </div>

          <div class="countrySelect crediantials input-block"  *ngIf="showCities">
            <ion-icon [attr.src]="countrySelectedIcon" size="large"></ion-icon>
            <ion-select class="crediantials" [attr.placeholder]="language.city" interface="action-sheet" [(ngModel)]="citySelected" *ngIf="showStates && stateSelected != 'Paraná (PR)'" (ionChange)="showCity()" required>
              <ion-select-option *ngFor="let c of cities" class="fold-lines" [value]="c">{{c}}</ion-select-option>
            </ion-select>
            <ion-select class="crediantials" [attr.placeholder]="language.city" interface="action-sheet" [(ngModel)]="citySelected" *ngIf="showStates && stateSelected == 'Paraná (PR)'" (ionChange)="showCity()" required>
              <ion-select-option *ngFor="let item of brazilCities; let i = index;" [attr.value]="brazilCities[i]['City']">
                {{brazilCities[i]['City']}}
              </ion-select-option>
            </ion-select>
          </div>
        
        <ion-button class="crediantials" (click)="register()">{{language.register}} <ion-icon name="md-happy"></ion-icon></ion-button>
        <ion-button class="crediantials" (click)="forgotpsd()" color="danger">{{language.forgot_password}}<ion-icon name="md-sad"></ion-icon></ion-button>
    </div>
  </div>
</ion-content>

<div>
  <ion-tab-bar slot="bottom" class="languageBar">
    <ion-tab-button (click)="english()">
      English
    </ion-tab-button>
    <ion-tab-button (click)="mongolian()">
      Монгол
    </ion-tab-button>
    <ion-tab-button (click)="portuguese()">
      Português
    </ion-tab-button>
    <ion-tab-button (click)="mandarin()">
      中文
    </ion-tab-button>
  </ion-tab-bar>
</div>