ion-content {
    --background: url("../../assets/register.jpg") no-repeat center/cover fixed;
}

.small_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.centerContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.loginBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    width: 95%;
    margin-top: 10%;
    padding: 5%;
    border-radius: 10px;
}

.countrySelect{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 95%;
    padding: 5px;
    background-color: white;
}

.stateSelect{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
}

.crediantials{
    margin-top: 2.5%;
    width: 95%;
    height: 40px;
}

.input-block{
    border-radius: 10px;
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    padding-left: 5px;
}

.logo{
    width:20%;
    height: 10%;
}

.languageBar {
    background-color: black;
    height: 30px;
  }
  
  .languageBar ion-tab-button {
    background-color: black;
    color: whitesmoke;
  }