<ion-header>
  <ion-toolbar>
    <ion-title>THE FRM CLUB</ion-title>
    <ion-buttons *ngIf="showLogout" slot="end">
      <ion-tab-button (click)="logout()">
        <ion-icon name="walk"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-tab-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="centerAll">
  <img src="../assets/frm2.svg" />
  <div class="mainButtons">
    <ion-grid>
      <ion-row>
        <ion-button class="examType" [routerLink]="['/tabs/pracques2']" routerLinkActive="router-link-active"
          color="success" (click)="updateTabs()">
          PRACTICE QUESTION BANK
        </ion-button>
      </ion-row>
      <ion-row>
        <ion-button class="examType" color="success" disabled>
          QUESTION LOG
        </ion-button>
      </ion-row>
      <ion-row>
        <ion-button class="examType" color="success" disabled>
          SIMULATION <ion-icon name="lock"></ion-icon>
        </ion-button>
      </ion-row>
    </ion-grid>
  </div>
</div>
</ion-content>
