<ion-content>
  <div class="centerContent">
    <div class="loginBar">
      <div class="small_logo">
        <img class="logo" src="../../assets/logo_small.svg" />
        <h2>{{language.agrolly}}</h2>
      </div>

      <input type="email" [attr.placeholder]="language.enter_email" class="crediantials input-block" [(ngModel)]="email"
        required />
      <input type="password" [attr.placeholder]="language.new_password" class="crediantials input-block"
        [(ngModel)]="password" required />
      <ion-button class="crediantials" (click)="requestOtp()">Next</ion-button>
    </div>
  </div>
</ion-content>