<ion-header>
    <ion-toolbar>
      <ion-title>Forgot Password</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <img src="../assets/club.svg" />
      <div class="centerContent">
        <input type="email" placeholder="Registered Mobile No." class="crediantials input-block" [(ngModel)]="email" required/>
        <input type="password" placeholder="New Password (8 characters or more)" class="crediantials input-block" [(ngModel)]="password" required/>
        <ion-button class="crediantials" (click)="requestOtp()">Next</ion-button>
      </div>
  </ion-content>
  