@media only screen and (min-width: 376px) and (max-width: 1024px) {
    .description{
        width: 100%;
        margin: 0;
    }

    .description ion-item{
        width: 100%;
    }

    .centerContent{
        width: 100%;
    }

    .crediantials{
        width: 90%;
        height: 40px;
        margin-left: 5%;
        margin-top: 2.5%;
    }

    .input-block{
        border-radius: 10px;
        border-color: gray;
        border-width: 1px;
        border-style: solid;
        padding-left: 5px;
    }
}

@media only screen and (max-width: 375px) and (min-width: 321px){
    .description{
        width: 100%;
        margin: 0;
    }

    .description ion-item{
        width: 100%;
    }

    .centerContent{
        width: 100%;
    }

    .crediantials{
        width: 90%;
        height: 30px;
        margin-left: 5%;
        margin-top: 2.5%;
    }

    .input-block{
        border-radius: 10px;
        border-color: gray;
        border-width: 1px;
        border-style: solid;
        padding-left: 5px;
    }
}

@media only screen and (max-width: 320px){
    .description{
        width: 100%;
        margin: 0;
    }

    .description ion-item{
        width: 100%;
    }

    .centerContent{
        width: 100%;
    }

    .crediantials{
        width: 90%;
        height: 30px;
        margin-left: 5%;
        margin-top: 2.5%;
    }

    .input-block{
        border-radius: 10px;
        border-color: gray;
        border-width: 1px;
        border-style: solid;
        padding-left: 5px;
    }
}