<ion-header>
  <ion-toolbar>
    <ion-title><ion-icon src='../../assets/icon/hardware-chip.svg' size="large"></ion-icon> Virtual Assistant</ion-title>
  </ion-toolbar>
  <div>
    <ion-tab-bar slot="bottom">
        This feature is currently under development
    </ion-tab-bar>
  </div>
</ion-header>

<ion-content [scrollEvents]="true" #responses>

      <ion-grid color="none">
        <ion-row color="none" *ngFor="let item of chatnameobj; let i = index;">

            <ion-col color="none" *ngIf="chatnameobj[i] == 'watson'" size="10">
              <ion-card color="primary">
                <ion-card-content>
                  <strong><app-format [innerHtml]='chatlogobj[i]'></app-format></strong>
                   <div *ngIf="watsonReplyOption[i] != 'null' || watsonReplyOption[i] != ''">
                    <div *ngFor="let item of watsonReplyOption[i];let j = index;">
                      <ion-button class="ion-text-wrap" style="height: fit-content; min-height: 15px; margin-top: 15px;" (click)="autoRespond(item.label)"  fill="solid" color="light" [innerHTML]="item.label" size="small"></ion-button>
                    </div><br />
                  </div>
                </ion-card-content>
              </ion-card>
            </ion-col>

            <ion-col color="none" *ngIf="chatnameobj[i] == 'suggestion'" size="10">
              <ion-card color="primary">
                <ion-card-content>
                  <strong><app-format [innerHtml]='suggestionTitle[i]'></app-format></strong><br /><br />
                  <strong>Did you mean:</strong>
                  <div *ngFor="let item of suggestionsObj; let k = index;">
                    <ion-button class="ion-text-wrap" style="height: fit-content; min-height: 15px;" (click)="autoRespond(suggestionsObj[i][k])" fill="outline" color="light" *ngIf="suggestionsObj[i][k] != null" [innerHTML]="suggestionsObj[i][k]" strong></ion-button>
                  </div>
                </ion-card-content>
              </ion-card>
            </ion-col>

            <ion-col color="none" *ngIf="chatnameobj[i] == 'user'" size="9" offset="3">
              <ion-card color="light">
                <ion-card-content>
                  <strong style="color: blue;" [innerHTML]="chatlogobj[i]"></strong>
                </ion-card-content>
              </ion-card>
            </ion-col>
        </ion-row>
      </ion-grid>

</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col size="9">
        <ion-input placeholder="What's your query?" (ionFocus)="updateScroll()" [(ngModel)]="query"></ion-input>
      </ion-col>
      <ion-col size="3">
        <ion-button color="success" (click)="response()">Send <ion-icon name="paper-plane"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>