/*
ion-grid {
    background: transparent;
}

ion-content {
    --ion-background-color:  #009999;
}
*/

ion-tab-bar {
    background-color: black;
    height: 35px;
    color: azure;
}

ion-card a {
    color: yellow;
}