<ion-header>
  <ion-toolbar>
    <ion-title><ion-icon src='../../assets/icon/hardware-chip.svg' size="large"></ion-icon> Virtual Assistant</ion-title>
  </ion-toolbar>
  <div>
    <ion-tab-bar slot="bottom">
        This feature is currently under development
    </ion-tab-bar>
  </div>
</ion-header>

<ion-content [scrollEvents]="true" #responses>

      <ion-grid color="none">
        <ion-row color="none" *ngFor="let item of chatnameobj; let i = index;">
            <ion-col color="none" *ngIf="chatnameobj[i] == 'watson'" size="9">
              <ion-card color="primary">
                <ion-card-content>
                  <strong>{{chatlogobj[i]}}</strong>
                </ion-card-content>
              </ion-card>
            </ion-col>

            <ion-col color="none" *ngIf="chatnameobj[i] == 'suggestion'" size="9">
              <ion-card color="primary">
                <ion-card-content>
                  <strong>Did you Mean: </strong><br />
                  <div *ngFor="let item of suggestionsObj; let j = index;">
                    <ion-button shape="round" (click)="autoRespond(suggestionsObj[i][j])" fill="outline" color="light" *ngIf="suggestionsObj[i][j] != null" strong>{{suggestionsObj[i][j]}}</ion-button>
                  </div>
                </ion-card-content>
              </ion-card>
            </ion-col>

            <ion-col color="none" *ngIf="chatnameobj[i] == 'user'" size="9" offset="3">
              <ion-card color="light">
                <ion-card-content>
                  <strong style="color: blue;">{{chatlogobj[i]}}</strong>
                </ion-card-content>
              </ion-card>
            </ion-col>
        </ion-row>
      </ion-grid>

</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col size="9">
        <ion-input placeholder="What's your query?" (ionFocus)="updateScroll()" [(ngModel)]="query"></ion-input>
      </ion-col>
      <ion-col size="3">
        <ion-button color="success" (click)="response()">Send <ion-icon name="paper-plane"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>