<ion-header>
  <ion-toolbar>
    <ion-title>My Questions</ion-title>
    <ion-buttons slot="end">
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content pullingText="Pull to refresh" refreshingSpinner="lines" refreshingText="Loading"></ion-refresher-content>
  </ion-refresher>
  <h5 style="text-align: center;">Pull down to refresh</h5>

  <ion-list>
    <ion-item *ngFor="let item of lists | slice:0:lists.length-1" (click)="LoadQuesAndComment(item.id)" button>
      <ion-label class="fold-lines" class="ion-text-wrap">
        <h2>{{item.question}}</h2>
        <h5>Name: {{item.name}}</h5>
        <h5>Type: {{item.atype}}</h5>
        <h5>Source: {{item.source}}</h5>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
