<ion-header>
  <ion-toolbar>
    <ion-title>{{language.otp}}</ion-title>
    <ion-buttons slot="end">
    <ion-button (click)="closeModal()"><ion-icon name="close"></ion-icon></ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="centerContent">
    <div class="loginBar">
      <div class="small_logo">
      <img class="logo" src="../../assets/logo_small.svg" /><h2>{{language.agrolly}}</h2>
      </div>  
    <input type="number" [attr.placeholder]="language.otp" [(ngModel)]="OTP" class="crediantials input-block" required/>
    <ion-button class="crediantials" (click)="setUser()">{{language.submit}}</ion-button>
    <ion-button class="crediantials" (click)="resend()" color="danger">{{language.resend_otp}}</ion-button>
    </div>
  </div>
</ion-content>