<ion-header>
  <ion-toolbar>
    <ion-title>{{language.crop_management}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header *ngIf="country == 'Mongolia'">
      <div class="stars">
        * Data displayed follows FAO regulations.
      </div>
      <div class="stars">
        ** Data is available only for some cities in Mongolia.
      </div>
    </ion-card-header>
    <ion-card-header *ngIf="country == 'Brazil'">
      <div class="stars">
        Estado: Parana
      </div>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item lines="none">
          <ion-datetime (ionChange)="getDate()" [attr.placeholder]="language.sowing_month" min="2020-09" max="2021-08"
            displayFormat="MMMM-YYYY" display-timezone="utc" [(ngModel)]="userSelectMonth"></ion-datetime>
          <ion-icon size="large" slot="end" src="../assets/icon/calendar-outline.svg"></ion-icon>
        </ion-item>

        <ion-item *ngIf="country == 'Mongolia'" lines="none">
          <ion-select interface="action-sheet" [attr.placeholder]="language.city" [(ngModel)]="city">
            <ion-select-option value="Dashbalbar">Dashbalbar</ion-select-option>
            <ion-select-option value="Bayabdun">Bayabdun</ion-select-option>
            <ion-select-option value="GurvanZagal">GurvanZagal</ion-select-option>
            <ion-select-option value="Bayanuul">Bayanuul</ion-select-option>
            <ion-select-option value="Ereentsav">Ereentsav</ion-select-option>
            <ion-select-option value="Kherlen Khentii">Kherlen Khentii</ion-select-option>
            <ion-select-option value="Bulgan">Bulgan</ion-select-option>
            <ion-select-option value="Hulunbuir">Hulunbuir</ion-select-option>
            <ion-select-option value="Morun">Morun</ion-select-option>
            <ion-select-option value="Undurkhaan">Undurkhaan</ion-select-option>
            <ion-select-option value="Delgerkhaan">Delgerkhaan</ion-select-option>
            <ion-select-option value="Tsenkhermandal">Tsenkhermandal</ion-select-option>
            <ion-select-option value="Jargaltkhaan">Jargaltkhaan</ion-select-option>
            <ion-select-option value="Batnorov">Batnorov</ion-select-option>
            <ion-select-option value="Bayan.Ovoo">Bayan.Ovoo</ion-select-option>
          </ion-select>
          <ion-icon size="large" slot="end" src="../assets/icon/Mongolia.svg"></ion-icon>
        </ion-item>

        <ion-item *ngIf="country == 'Brazil'" lines="none">
          <ion-select interface="action-sheet" [attr.placeholder]="language.city" [(ngModel)]="city">
            <ion-select-option *ngFor="let item of cityList; let i = index;" [attr.value]="cityList[i]['Code']">
                {{cityList[i]['City']}}
            </ion-select-option>
          </ion-select>
          <ion-icon size="large" slot="end" src="../assets/icon/Brazil.svg"></ion-icon>
        </ion-item>

        <ion-item lines="none">
          <ion-select interface="action-sheet" placeholder="Select Vegetables" [(ngModel)]="vegetable">
            <ion-select-option>All</ion-select-option>
            <ion-select-option *ngFor="let item of cropsListData; let i = index;">{{item["Crop_English"]}} / {{item["Crop_Mongolian"]}} / {{item["Crop_Portuguese"]}}</ion-select-option>
          </ion-select>
          <ion-icon slot="end" size="large" name="nutrition" color="warning"></ion-icon>
        </ion-item>

        <ion-item lines="none" *ngIf="city != undefined && userSelectMonth != undefined">
          <ion-button class="fetchData" (click)="listCrops()" color="success"><b>{{language.fetch_data}}</b>
            <ion-icon name="download" size="small"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-item *ngIf="monthMinTemp == 100 && forecastMatch">
            <ion-col size="12">
                <ion-icon name="warning" size="small" color="danger"></ion-icon>
                 Error due to network instability, please <b>REVISIT THIS PAGE</b> and <b>PRESS FETCH DATA AGAIN</b>.
            </ion-col>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-list *ngIf="forecastMatch && monthMinTemp != 100">
    <div *ngFor="let item of cropsListData; let i = index;">
    <ion-item lines="none"  *ngIf="vegetable == item['Crop_English']+ ' / ' + item['Crop_Mongolian'] + ' / ' + item['Crop_Portuguese']|| vegetable == 'All'">
      <ion-card class="veggieCard">
      <div style="width: 100%;">
        <ion-item-divider color="secondary">
          <ion-label><b>{{item["Crop_English"]}} / {{item["Crop_Mongolian"]}} / {{item["Crop_Portuguese"]}}</b></ion-label>
        </ion-item-divider>
        <ion-grid>
            <ion-label><b>{{language.crop_requirement}}:</b></ion-label>
          <ion-row>
            <ion-col size="6">
              <ion-icon name="thermometer" size="small" color="warning"></ion-icon>
              {{language.max_temp}}: {{item["Geral_air_Temp_max"]}} °C
            </ion-col>
            <ion-col size="6">
              <ion-icon name="thermometer" size="small" color="warning"></ion-icon>
              {{language.min_temp}}: {{item["Geral_air_Temp_min"]}} °C
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-icon name="water" size="small" color="primary"></ion-icon>
              {{language.water_needed}} {{language.in}} {{language[monthList[month]]}}: {{waterNeeded[i] < 0 ? 0.01 : waterNeeded[i]}} mm 
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-icon name="water" size="small" color="primary"></ion-icon>
              {{language.water_needed}} {{language.in}} {{language[monthList[month+1]]}}: {{waterNeeded2[i] < 0 ? 0.01 : waterNeeded2[i]}} mm 
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-icon name="water" size="small" color="primary"></ion-icon>
              {{language.water_needed}} {{language.in}} {{language[monthList[month+2]]}}: {{waterNeeded3[i] < 0 ? 0.01 : waterNeeded3[i]}} mm 
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-icon name="home" size="small" color="success"></ion-icon>
              {{language.cover}} : {{language[item["Cover"]]}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
            <ion-icon size="small" name="speedometer" color="primary"></ion-icon>
            {{language.maturity}}: {{item["Total.growing.period_days_min"]}} - {{item["Total.growing.period_days_max"]}} {{language.days}}
            </ion-col>
          </ion-row>
          <ion-row *ngIf="waterNeeded[i]==0">
            <ion-col size="12">
                <ion-button mode='ios' color="danger" strong>
                <ion-icon size="small" name="leaf"></ion-icon>
                Harvest season over
                </ion-button>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="waterNeeded[i] < 0">
            <ion-col size="12">
                <ion-button mode='ios' color="danger" strong>
                <ion-icon name="warning" size="small"></ion-icon>
                {{language.climate_unsuitable}}
                </ion-button>
            </ion-col>
          </ion-row>

          <hr />
          <div *ngIf="waterNeeded[i] != 0">
            <ion-label *ngIf="forecastMatch"><b>{{language.forecast_match}}:</b></ion-label>
            <ion-row *ngIf="forecastMatch">
              <ion-col size="6">
                <ion-button mode='ios' [attr.color]="monthMaxTemp > item['Geral_air_Temp_max'] + 2 || monthMaxTemp < item['Geral_air_Temp_min']? 'danger': 'success'" size="small" strong>
                  <ion-icon name="thermometer" size="small"></ion-icon>
                  {{language.max_temp}}: {{monthMaxTemp}} °C
                  </ion-button>
              </ion-col>
              <ion-col size="6">
                <ion-button mode='ios' [attr.color]="monthMinTemp < item['Geral_air_Temp_min'] - 2? 'danger': 'success'" size="small" strong>
                <ion-icon name="thermometer" size="small"></ion-icon>
                {{language.min_temp}}: {{monthMinTemp}} °C
                </ion-button>                
              </ion-col>
            </ion-row>
            <ion-row *ngIf="forecastMatch">
              <ion-col size="12">
                <ion-button mode='ios' [attr.color]="rainfall < waterNeeded[i]-10 ? 'danger': 'success'" strong>
                  <ion-icon name="water" size="small"></ion-icon>
                  {{language.rain_forecast}} {{language.for}} {{language[monthList[month]]}}: {{rainfall}} mm 
                </ion-button>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="forecastMatch">
              <ion-col size="12">
                <ion-button mode='ios' [attr.color]="rainfall2 < waterNeeded2[i]-10 ? 'danger': 'success'" strong>
                  <ion-icon name="water" size="small"></ion-icon>
                  {{language.rain_forecast}} {{language.for}} {{language[monthList[month+1]]}}: {{rainfall2}} mm 
                </ion-button>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="forecastMatch">
              <ion-col size="12">
                <ion-button mode='ios' [attr.color]="rainfall3 < waterNeeded3[i]-10 ? 'danger': 'success'" strong>
                  <ion-icon name="water" size="small"></ion-icon>
                  {{language.rain_forecast}} {{language.for}} {{language[monthList[month+2]]}}: {{rainfall3}} mm
                </ion-button>
              </ion-col>
            </ion-row>

            </div>
        </ion-grid>
       </div>
      </ion-card>
    </ion-item>
  </div>
  </ion-list>
</ion-content>